.drum-pad {
  height: 70px;
  width: 70px;
  display: block;
  background-color: var(--blue);
  color: var(--cream);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.drum-pad:active {
  background-color: var(--red);
  padding-top: 5px;
}

.keyPush {
  background-color: var(--red);
  padding-top: 5px;
}